################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BankApplicationAPI/BankApplicationAPI/BankApplicationAPI.csproj
/BankApplicationAPI/BankApplicationAPI/BankApplicationAPI.csproj
/BankApplicationAPI/BankApplicationAPI/BankApplicationAPI.csproj
/BankApplicationAPI/BankApplicationAPI/BankApplicationAPI.csproj
/BankApplicationAPI/BankApplicationAPI/BankApplicationAPI.csproj
/BankApplicationAPI/BankApplicationAPI/BankApplicationAPI.csproj
