<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/Home" routerLinkActive="active">SunBank</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/Home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/Home/transfer">Transfer</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/Home/complaints">Complaints</a>
      </li>
      <!-- <li class="nav-item dropdown" routerLinkActive="active">
        <a routerLink="/Home/complaints" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Complaints
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/Home/complaints/" routerLinkActive="active">New Complaints</a>
          <a class="dropdown-item" routerLink="/Home/complaints/" routerLinkActive="active">View Complaints</a>
        </div>
      </li> -->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/Home/loan/">Loan</a>
      </li>
    </ul>
    <a routerLink="/Home/profile/" routerLinkActive="active" class="btn btn-outline-primary text-dark m-2 my-sm-0">Profile</a>
    <!-- <pre> </pre> -->
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()" type="submit">Logout</button>
  </div>
</nav>
