<app-navbar></app-navbar>
<div class="container mt-4">
    <h2 class="text-center mb-4">Transaction List</h2>
  
    <!-- Display transactions in a table -->
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Transaction ID</th>
          <th>Customer ID</th>
          <th>Amount</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td>{{ transaction.transactionId }}</td>
          <td>{{ transaction.customerId }}</td>
          <td>{{ transaction.transactionAmount | currency }}</td>
          <td>
            <button class="btn btn-primary" (click)="viewTransactionDetails(transaction.transactionId!)">
              Transaction Details
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <!-- Display message if there are no transactions -->
    <div *ngIf="transactions.length === 0" class="alert alert-info text-center">
      No transactions found.
    </div>
  </div>
  